Layer0 Bandwidth

As per WG LC comment: https://mailarchive.ietf.org/arch/msg/ccamp/qp4YJCYKx-pNaajY31XEis4nFS0/

As described in section 4.2 of RFC7669, there is some overlap between bandwidth and label in layer0.

RFC7689 defines the bandwidth of a WSON LSP as the bit-rate of the signal being carried, which looks like more a transponder attribute than an LSP attribute.

RFC7792 defines the bandwidth as the spectrum width (m parameter) and allows it to be used for both flexi-grid as well as legacy DWDM networks. This information is already available in the label definition. Moreover, if we consider 3R, the value of m may change along the path.

It is proposed to remove the layer0-bandwidth-type from the draft sent to IESG and to re-discuss its need as part of the modelling of transponder and 3R capabilities.

The groupings defining the path and link bandwidths, to be used to augment te-topology and te models, could be re-defined with an empty attribute or with an empty container (to allow adding additional attributes in future revisions of the model, if needed)

The following commit addressed this issue, by removing the bandwidth related information. 
10acf682d70a734de21a81868f4f13a2b9c1a8f3

> The following commit addressed this issue, by removing the bandwidth related information.
> [10acf68](https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-layer0-types/commit/10acf682d70a734de21a81868f4f13a2b9c1a8f3)

I agree. I have linked this open issue with PR#3 so it will be automatically closed when the PR#3 is merged
